@charset "UTF-8";

@font-face {
    font-family: 'vw';
    src: url('../fonts/VW/VWHead-Regular.otf');
}

@font-face {
    font-family: 'vw';
    src: url("../fonts/VW/VWHead-Bold.otf");
}

@font-face {
    font-family: 'vw';
    src: url('../fonts/VW/VWText-Regular.otf');
}

@font-face {
    font-family: 'vw';
    src: url("../fonts/VW/VWText-Bold.otf");
}

* {
    font-family: 'vw';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --claro: #4C7397;
    --escuro: #001e50;
}

body {
    background-color: #c9c9c9e8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/*============================================================================================================*/
header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: var(--escuro);
    height: 90px;
    padding: 5px;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 15%;
    height: 100%;
    margin-right: 40px;
}

header li a {
    color: white;
    padding: 3px;
}

header li a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header li a:not(:hover) {
    transition-duration: 0.3s;
}
/*============================================================================================================*/
main {
    padding: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtro__dia {
    height: 150px;
    width: 23%;
    background-color: white;
    border-radius: 15px;
    border: 10px solid var(--escuro);
    margin-bottom: 20px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 8px 0px; 
    grid-template-areas: 
    "titulo"
    "label"
    "input"
    "submit"; 
}
  
  .titulo { 
    grid-area: titulo; 
    font-size: larger;
}

.titulo h3 {
    border: 2px solid var(--escuro);
    border-radius: 5px;
    text-align: center;
}
  
  .label { grid-area: label; }
  
  .label label {
    background-color: var(--claro);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }

  .input { 
    grid-area: input; 
}

  .input input {
    width: 100%;
    height: 100%;
  }
  
  .submit { grid-area: submit; }
  
  .submit input {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: var(--escuro);
    color: white;
    border: none;
  }
/*===============================================================================================================*/
.div__grafico {
  background-color: var(--escuro);
  height: fit-content;
  width: 83%;
  padding: 15px;
  display: flex;
  border-radius: 15px;
}

.grafico {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
  width: 100%;
}

.quad_graf {
  border-right: 1px solid lightgray;
  text-align: center;
  width: 78px;
  height: 45px;
  display: grid;
  align-items: center;
}

.gantt {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "tit tit tit tit tit tit tit tit tit tit tit tit tit tit"
    "scl scl scl scl scl scl scl scl scl scl scl scl scl scl"
    "vda vda vda vda vda vda vda vda vda vda vda vda vda vda"
    "nvh nvh nvh nvh nvh nvh nvh nvh nvh nvh nvh nvh nvh nvh"
    "obs obs obs obs obs obs obs obs obs obs obs obs obs obs"
    "r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20 r_12_20"
    "r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40 r_40"
    "r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60 r_60"
    "asf asf asf asf asf asf asf asf asf asf asf asf asf asf"
    "pc pc pc pc pc pc pc pc pc pc pc pc pc pc"
    "leg leg leg leg leg leg leg leg leg leg leg leg leg leg"; 
}

.tit {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "all_tit"; 
  grid-area: tit;
  text-align: center; 
}
.all_tit { 
  grid-area: all_tit;
  margin-bottom: 15px; 
}

.scl {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10 b11 b12 b13 b14"; 
    grid-area: scl;
    border-bottom: 1px solid lightgray; 
  }
  .b1 { 
    grid-area: b1;
  }
  .b2 { 
    grid-area: b2;
  }
  .b3 { 
    grid-area: b3;
  }
  .b4 { 
    grid-area: b4;
  }
  .b5 { 
    grid-area: b5;
  }
  .b6 { grid-area: b6; }
  .b7 { grid-area: b7; }
  .b8 { grid-area: b8; }
  .b9 { grid-area: b9; }
  .b10 { grid-area: b10; }
  .b11 { grid-area: b11; }
  .b12 { grid-area: b12; }
  .b13 { grid-area: b13; }
  .b14 { 
    grid-area: b14; 
    border: none;
  }

  .vda {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12 c13 c14"; 
    grid-area: vda; 
    border-bottom: 1px solid lightgray;
  }
  .c1 { 
    grid-area: c1;
  }
  .c2 { grid-area: c2; }
  .c3 { grid-area: c3; }
  .c4 { grid-area: c4; }
  .c5 { grid-area: c5; }
  .c6 { grid-area: c6; }
  .c7 { grid-area: c7; }
  .c8 { grid-area: c8; }
  .c9 { grid-area: c9; }
  .c10 { grid-area: c10; }
  .c11 { grid-area: c11; }
  .c12 { grid-area: c12; }
  .c13 { grid-area: c13; }
  .c14 { 
    grid-area: c14; 
    border: none;
  }

  .nvh {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "d1 d2 d3 d4 d5 d6 d7 d8 d9 d10 d11 d12 d13 d14"; 
    grid-area: nvh;
    border-bottom: 1px solid lightgray; 
  }
  .d1 {
      grid-area: d1;
    }
  .d2 { grid-area: d2; }
  .d3 { grid-area: d3; }
  .d4 { grid-area: d4; }
  .d5 { grid-area: d5; }
  .d6 { grid-area: d6; }
  .d7 { grid-area: d7; }
  .d8 { grid-area: d8; }
  .d9 { grid-area: d9; }
  .d10 { grid-area: d10; }
  .d11 { grid-area: d11; }
  .d12 { grid-area: d12; }
  .d13 { grid-area: d13; }
  .d14 { 
    grid-area: d14; 
    border: none;
  }

  .obs {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "e1 e2 e3 e4 e5 e6 e7 e8 e9 e10 e11 e12 e13 e14"; 
    grid-area: obs; 
    border-bottom: 1px solid lightgray; 
  }
  .e1 { 
    grid-area: e1;
  }
  .e2 { grid-area: e2; }
  .e3 { grid-area: e3; }
  .e4 { grid-area: e4; }
  .e5 { grid-area: e5; }
  .e6 { grid-area: e6; }
  .e7 { grid-area: e7; }
  .e8 { grid-area: e8; }
  .e9 { grid-area: e9; }
  .e10 { grid-area: e10; }
  .e11 { grid-area: e11; }
  .e12 { grid-area: e12; }
  .e13 { grid-area: e13; }
  .e14 { 
    grid-area: e14; 
    border: none;
  }

  .r_12_20 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "f1 f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12 f13 f14"; 
    grid-area: r_12_20; 
    border-bottom: 1px solid lightgray; 
  }
  .f1 { 
    grid-area: f1;
  }
  .f2 { grid-area: f2; }
  .f3 { grid-area: f3; }
  .f4 { grid-area: f4; }
  .f5 { grid-area: f5; }
  .f6 { grid-area: f6; }
  .f7 { grid-area: f7; }
  .f8 { grid-area: f8; }
  .f9 { grid-area: f9; }
  .f10 { grid-area: f10; }
  .f11 { grid-area: f11; }
  .f12 { grid-area: f12; }
  .f13 { grid-area: f13; }
  .f14 { 
    grid-area: f14; 
    border: none;
  }

  .r_40 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "g1 g2 g3 g4 g5 g6 g7 g8 g9 g10 g11 g12 g13 g14"; 
    grid-area: r_40;
    border-bottom: 1px solid lightgray;  
  }
  .g1 { 
    grid-area: g1;
  }
  .g2 { grid-area: g2; }
  .g3 { grid-area: g3; }
  .g4 { grid-area: g4; }
  .g5 { grid-area: g5; }
  .g6 { grid-area: g6; }
  .g7 { grid-area: g7; }
  .g8 { grid-area: g8; }
  .g9 { grid-area: g9; }
  .g10 { grid-area: g10; }
  .g11 { grid-area: g11; }
  .g12 { grid-area: g12; }
  .g13 { grid-area: g13; }
  .g14 { 
    grid-area: g14; 
    border: none;
  }

  .r_60 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 h13 h14"; 
    grid-area: r_60;
    border-bottom: 1px solid lightgray;  
  }
  .h1 { 
    grid-area: h1;
  }
  .h2 { grid-area: h2; }
  .h3 { grid-area: h3; }
  .h4 { grid-area: h4; }
  .h5 { grid-area: h5; }
  .h6 { grid-area: h6; }
  .h7 { grid-area: h7; }
  .h8 { grid-area: h8; }
  .h9 { grid-area: h9; }
  .h10 { grid-area: h10; }
  .h11 { grid-area: h11; }
  .h12 { grid-area: h12; }
  .h13 { grid-area: h13; }
  .h14 { 
    grid-area: h14; 
    border: none;
  }

  .asf {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "i1 i2 i3 i4 i5 i6 i7 i8 i9 i10 i11 i12 i13 i14"; 
    grid-area: asf; 
    border-bottom: 1px solid lightgray; 
  }
  .i1 { grid-area: i1;
  }
  .i2 { grid-area: i2; }
  .i3 { grid-area: i3; }
  .i4 { grid-area: i4; }
  .i5 { grid-area: i5; }
  .i6 { grid-area: i6; }
  .i7 { grid-area: i7; }
  .i8 { grid-area: i8; }
  .i9 { grid-area: i9; }
  .i10 { grid-area: i10; }
  .i11 { grid-area: i11; }
  .i12 { grid-area: i12; }
  .i13 { grid-area: i13; }
  .i14 { 
    grid-area: i14; 
    border: none;
  }

  .pc {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "j1 j2 j3 j4 j5 j6 j7 j8 j9 j10 j11 j12 j13 j14"; 
    grid-area: pc;
    border-bottom: 1px solid lightgray;  
  }
  .j1 { 
    grid-area: j1;
  }
  .j2 { grid-area: j2; }
  .j3 { grid-area: j3; }
  .j4 { grid-area: j4; }
  .j5 { grid-area: j5; }
  .j6 { grid-area: j6; }
  .j7 { grid-area: j7; }
  .j8 { grid-area: j8; }
  .j9 { grid-area: j9; }
  .j10 { grid-area: j10; }
  .j11 { grid-area: j11; }
  .j12 { grid-area: j12; }
  .j13 { grid-area: j13; }
  .j14 { 
    grid-area: j14; 
    border: none;
  }

  .leg {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "k1 k2 k3 k4 k5 k6 k7 k8 k9 k10 k11 k12 k13 k14"; 
    grid-area: leg; 
  }
  .k1 { 
    grid-area: k1;
  }
  .k2 { 
    grid-area: k2; 
    border: none;
  }
  .k3 { 
    grid-area: k3; 
    border: none;
  }
  .k4 { 
    grid-area: k4; 
    border: none;
  }
  .k5 { 
    grid-area: k5; 
    border: none;
  }
  .k6 { 
    grid-area: k6; 
    border: none;
  }
  .k7 { 
    grid-area: k7; 
    border: none;
    background-color: #001e50;
    border-top: 15px solid white;
    border-bottom: 13px solid white;
    border-right: 13px solid white;
    border-left: 13px solid white;
    border-radius: 18px;
  }
  .k8 { 
    grid-area: k8; 
    border: none;
  }
  .k9 { 
    grid-area: k9; 
    border: none;
    background-color: #4C7397;
    border-top: 15px solid white;
    border-bottom: 13px solid white;
    border-right: 13px solid white;
    border-left: 13px solid white;
    border-radius: 18px;
  }
  .k10 { 
    grid-area: k10; 
    border: none;
  }
  .k11 { 
    grid-area: k11; 
    border: none;
  }
  .k12 { 
    grid-area: k12; 
    border: none;
  }
  .k13 { 
    grid-area: k13; 
  }
  .k14 { 
    grid-area: k14;
    border: none;
  }
/*============================================================================================================*/
footer {
    padding: 15px;
    background-color: var(--escuro);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    color: white;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

footer div {
    height: 100%;
}

footer span {
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    position: relative;
    top: 2px;
    height: 1.6rem;
}

.copyright {
    float: right;
    font-size: medium;
}

@media (min-width: 1441px) {
  .div__grafico {
    width: 1161px;
  }

  .filtro__dia {
    width: 322px;
}
}

@media (max-width: 1424px) {
  .grafico {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    height: fit-content;
    width: 1120px;
    overflow-x: auto;
  }
}

@media (max-width: 1234px) {
  .filtro__dia {
    width: 275px;
}
}

@media (max-width: 885px) {
header ul {
    width: 25%;
}
}

@media (max-width: 682px) {
  footer {
    height: 100px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  footer div {
      height: 40%;
  }

  footer span {
      height: 100%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .copyright {
      float: right;
      font-size: medium;
  }
}

@media (max-width: 396px) {
  .copyright {
    margin-top: 10px;
  }

  footer span {
      text-align: center;
  }

  footer img {
      position: relative;
      top: 2px;
      left: 8px;
      height: 1.6rem;
  }
}

@media (max-height: 892px) {
  footer {
    position: relative;
  }
}