@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: initial;
    color: initial;
}
/*=================================================================================================================================================================*/
body {
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 85px;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 77px;
    height: 77px;

    padding: 5px;

    background-color: white;

    border-radius: 500px;
}

header a:hover {
    background-color: rgb(87, 85, 85);

    color: white;

    transition-duration: 0.5s;
}

header a:not(:hover) {
    transition-duration: 0.5s;
}

header a>img {
    height: 57px;
}

.botoes__header {
    display: flex;
    flex-direction: row;
    height: 75px;
}

.botoes__header a {
    display: flex;
    flex-direction: row;

    background-color: white;
    width: 220px;
    height: 65px;
    
    margin: 5px;
    padding: 8px;
    
    border-radius: 50px;
}

.botoes__header a:hover {
    background-color: rgb(87, 85, 85);

    color: white;

    transition-duration: 0.5s;
}

.botoes__header a:not(:hover) {
    transition-duration: 0.5s;
}

.botoes__header div {
    margin: 5px;
}

.botoes__header span {
    width: 150px;

    font-size: x-large;
    font-weight: bold;
}

.botoes__header img {
    height: 57px;
}

.alinhamento__header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo__header img {
    height: 50px;
}
/*=================================================================================================================================================================*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    margin-top: 30px;
    padding: 20px;

    width: 1400px;
    height: 800px;

    background-color: #ed3a2a7e;
    backdrop-filter: blur(5px);

    border-radius: 20px;
}

main form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    height: 75px;

    background-color: white;

    border-radius: 50px;

    padding-right: 15px;
}

input[type=image] {
    height: 57px;
}

.input__data {
    height: 100%;
    width: 200px;

    border-radius: 500px;

    text-align: center;

    font-size: x-large;

    border: none;
}

.input__data:focus {
    outline: none;
}

form div {
    width: 75px;
    height: 75px;

    border-radius: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

form div:hover {
    background-color: rgb(87, 85, 85);

    transition-duration: 0.5s;
}

form div:not(:hover) {
    transition-duration: 0.5s;
}

.valetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1250px;
    height: 650px;

    overflow-y: auto;

    padding: 10px;

    background-color: rgb(70, 67, 67);

    border-radius: 20px;
}

.valeta {
    width: 250px;
    height: 836px;
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 1px 0px 2px rgb(134, 134, 134);
}

.valeta__titulo {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding-top: 10px;    
}

@media (max-width: 1405px) {
    main {
        width: 90%;
        height: 720px;

        margin-bottom: 20px;
    }

    .valetas {
        width: 90%;
        height: 590px;

        overflow-x: scroll;
    }
    
    .valeta {
        margin: 20px;
        min-width: 250px;
    }
}

@media (max-width: 1000px) {
    .sumir__texto {
        display: none;
    }

    .botoes__header a {
        width: fit-content;
    }
}

@media (max-width: 590px) {
    header {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo logo"
                            "botoes sair";

        height: 190px;
    }
    
    .botao__sair {
        grid-area: sair;
        justify-content: center;

        text-align: center;
    }

    .logo__header {
        width: 100%;

        grid-area: logo;
        justify-content: center;

        text-align: center;
    }

    .botoes__header {
        grid-area: botoes;
        justify-content: center;
    }

    main {
        width: 90%;
        height: 620px;
    }
    
    main form {
        width: 200px;
        height: 50px;
    }
    
    input[type=image] {
        height: 40px;
    }
    
    .input__data {
        width: 200px;
    
        font-size: large;
    }
    

    .valetas {
        width: 90%;
        height: 500px;
    }
}

@media (max-width: 370px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1;
        grid-template-areas: "logo"
                            "botoes"
                            "sair";

        height: 230px;
    }
    
    .botao__sair {
        grid-area: sair;
        justify-content: center;

        margin: auto;
    }

    .logo__header {
        grid-area: logo;
        justify-content: center;
    }

    .botoes__header {
        grid-area: botoes;
        justify-content: center;
    }
    
    .valetas {
        width: 90%;
        height: 500px;
    }
    
    main form {
        width: 200px;
        height: 50px;
    }
    
    input[type=image] {
        height: 40px;
    }
    
    .input__data {
        width: 185px;
    
        font-size: large;
    }
}