@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: initial;
    color: initial;
}
/*============================================================================================================*/
.div__header__data {
    display: flex;
    width: 150px;
}

.header__data {
    border: none;
    font-size: larger;
    float: left;
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.header__submit {
    border: none;
    background-color: #D51E24;
    width: 30%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.header__submit:hover {
    background-color: #9a1c1f;
    transition-duration: 0.3s;
}

.header__submit:not(:hover) {
    transition-duration: 0.3s;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #D51E24;
    width: 6.5vw;
    height: 100%;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 40px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sidebar__imgs {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
}

.sidebar span {
    font-weight: bolder;
}

.sidebar__imgs:hover {
    background-color: aliceblue;
    transition-duration: 0.3s;
}

.sidebar__imgs:not(:hover) {
    transition-duration: 0.3s;
}

.sidebar__sair {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #9a1c1f;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 10%;
    border: none;
    font-weight: bold;
    font-size: small;
    text-decoration: underline;
}

.sidebar__sair:hover {
    transition: 0.3s;
    background-color: #880d1da8;
}

.sidebar__sair:not(:hover) {
    transition: 0.3s;
}

.valeta {
    width: 22%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 1px 0px 2px rgb(134, 134, 134);
    margin-bottom: 10px;
    margin-left: 50px;
}

.valeta__titulo {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

header {
    display: flex;
    height: 35px;
    width: 12%;
    margin:auto;
    margin-top: 15px;
    border-bottom: 1px solid rgb(214, 214, 214);
    box-shadow: 1px 0px 2px rgb(134, 134, 134);
    justify-content: center;
    border-radius: 10px;
    background-color: whitesmoke;
}

body {
    flex-direction: column;
    background-color: lightgray;
}

main {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding-top: 10px;    
}