@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: initial;
    color: initial;
}

body {
    background-color: #001e50;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #00102c;
    width: 100%;
    height: 160px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 0;
}

header img {
    height: 60px;
}

.header__img {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 120px;
    width: 450px;
    height: 450px;
}

.botoes {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    height: 100%;
    grid-auto-flow: row;
    grid-template-areas:
      "rod scha"
      "oleo cons";
  }

.botoes__animacao {
    display: grid;
    background-color: #010e24;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 white;
    padding: 5px;
}

.botoes__animacao:hover {
    box-shadow: 0 0 20px white;
    cursor: pointer;
}

.botoes__animacao img {
    height: 55%;
}
  
.rod { 
    grid-area: rod; 
    border-top-left-radius: 500px;
    border-bottom-right-radius: 10px;
}

.rod img {
    position: relative;
    top: 40%;
    left: 27%;
}

.scha { 
    grid-area: scha; 
    border-top-right-radius: 500px;
}

.scha img {
    position: relative;
    left: 15%;
    top: 32%;
}

.cons { 
    grid-area: cons; 
    border-bottom-right-radius: 500px;
}

.cons img {
    position: relative;
    left: 13%;
    top: 13%;
}

.oleo { 
    grid-area: oleo; 
    border-bottom-left-radius: 500px;
}

.oleo img {
    position: relative;
    top: 13%;
    left: 28%;
}

.caminhao__1 {
    opacity: 30%;
    position: absolute;
    right: -10%;
    bottom: 20%;
    width: 569px;
    height: 379px;
}

.caminhao__2 {
    transform: scaleX(-1);
    opacity: 30%;
    position: absolute;
    left: -10%;
    bottom: 20%;
    width: 569px;
    height: 379px;
}

.modal {
    display: none;
    position: fixed;
    top: 59.5%;
    left: 50%;
    width: 60%;
    height: 67.8%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 9999;
}

#popupIframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.botoes__iframe {
    font-weight: bolder;
    font-size: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid black;
}

.botao__direita {
    position: absolute; 
    top: 50%; 
    right: -40px;
}

.botao__esquerda {
    position: absolute; 
    top: 50%; 
    left: -40px;
}

.botao__fechar {
    cursor: pointer; 
    position: absolute; 
    top: -30px; 
    right: 10px;
}

.botoes__iframe:hover {
    cursor: pointer;
}

.botao__loop {
    position: absolute;
    bottom: 0px;
    right: -40px;
}