@charset "UTF-8";

@font-face {
    font-family: "ztc";
    src: url(../font/Circular-Std-Bold.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: initial;
    color: initial;
}

body {
    background-color: #001e50;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #00102c;
    width: 100%;
    height: 160px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 0;
}

header img {
    height: 60px;
}

.header__img {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toca {
    position: absolute; 
    right: 45px; 
    top: 25px;
}

main {
    margin-top: 120px;
    width: 450px;
    height: 450px;
}

.botoes {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    height: 100%;
    grid-auto-flow: row;
    grid-template-areas:
      "rod scha"
      "oleo oleo";
  }

.botoes__animacao {
    display: grid;
    background-color: #010e24;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 white;
    padding: 5px;
}

.botoes__animacao:hover {
    box-shadow: 0 0 20px white;
    cursor: pointer;
}

.botoes__animacao img {
    height: 55%;
}
  
.rod { 
    grid-area: rod; 
    border-top-left-radius: 500px;
    border-bottom-right-radius: 10px;
}

.rod img {
    position: relative;
    top: 40%;
    left: 27%;
}

.scha { 
    grid-area: scha; 
    border-top-right-radius: 500px;
}

.scha img {
    position: relative;
    left: 15%;
    top: 32%;
}

.oleo { 
    grid-area: oleo; 
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
}

.oleo img {
    position: relative;
    top: 20%;
    left: 37%;
}

.caminhao__1 {
    opacity: 30%;
    position: absolute;
    right: -10%;
    bottom: 20%;
    width: 569px;
    height: 379px;
}

.caminhao__2 {
    transform: scaleX(-1);
    opacity: 30%;
    position: absolute;
    left: -10%;
    bottom: 20%;
    width: 569px;
    height: 379px;
}

.modal {
    display: none;
    position: fixed;
    top: 58%;
    left: 50%;
    width: 72%;
    height: 84%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 9999;
}

#popupIframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.botoes__iframe {
    font-weight: bolder;
    font-size: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid black;
}

.botao__direita {
    position: absolute; 
    top: 50%; 
    right: -40px;
}

.botao__esquerda {
    position: absolute; 
    top: 50%; 
    left: -40px;
}

.botao__fechar {
    cursor: pointer; 
    position: absolute; 
    top: 15px; 
    right: -40px;
}

.botoes__iframe:hover {
    cursor: pointer;
}

.botao__loop {
    position: absolute;
    top: 55px;
    right: -40px;
}

.exp__rod {
    position: absolute;
    right: 500px;
    width: 300px;
    background-color: rgb(81, 84, 87);
    border: 2px solid #00102c;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img__rod:hover + .exp__rod {
    opacity: 1;
}

.exp__scha {
    position: absolute;
    right: 800px;
    bottom: 100px;
    width: 300px;
    background-color: rgb(81, 84, 87);
    border: 2px solid #00102c;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img__scha:hover + .exp__scha {
    opacity: 1;
}

.exp__oleo {
    position: absolute;
    left: 500px;
    width: 300px;
    background-color: rgb(81, 84, 87);
    border: 2px solid #00102c;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img__oleo:hover + .exp__oleo {
    opacity: 1;
}

.idt {
    font-family: "ztc";
    font-weight: bold;
    color: white;
    position: relative;
    bottom: 10px;
    right: -177px;
}

@media (max-width: 1336px) {
    .caminhao__sumir {
        display: none;
    }
}

@media (max-width: 905px) {
    header {
        height: 250px;
    }

    .header__grid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "dur__grid"
            "logos__grid"; 
        }
        
        .dur__grid { 
            grid-area: dur__grid; 
            display: flex;
            justify-content: center;
        }

        .logos__grid { 
            grid-area: logos__grid;
        }

        .header__img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .img__margin {
            margin-right: 20px;
        }

        .toca {
            display: none;
        }
}

@media(min-height: 967px) {
    .caminhao__1 {
        right: -10%;
    }
    
    .caminhao__2 {
        left: -10%;
    }
    
    .modal {
        top: 57%;
        left: 50%;
        width: 80.5%;
        height: 84%;
    }
}